$black: #1e1e1e;
$blue: #94a5d4;
$green: #a9c9aa;
$pink-1: #ba808b;
$pink-2: #c78c96;
$pink-3: #d498a3;
$pink-4: #e3aab5;
$pink-5: #f2b9c4;
$red: #ff4775;
$yellow: #ffc640;
$white: white;
$font-family: 'Pacifico', cursive;
$cell-size: 40px;
$transition-duration: 1s;
$bg: rgba(0, 0, 0, 0.7);

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin transition($properties...) {
  transition: $properties $transition-duration ease;
}
