$black: #1e1e1e;
$blue: #94a5d4;
$green: #a9c9aa;
$pink-1: #ba808b;
$pink-2: #c78c96;
$pink-3: #d498a3;
$pink-4: #e3aab5;
$pink-5: #f2b9c4;
$red: #ff4775;
$yellow: #ffc640;
$white: white;
$cell-size: 40px;
$transition-duration: 0.5s;
$bg: rgba(0, 0, 0, 0.7);
$cell-size: 3rem;

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin button {
  background-color: $yellow;
  border: 2px solid $black;
  border-radius: 1rem;
  box-shadow: $black 4px 4px 0 0;
  color: $black;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  padding: 0 1rem;
  line-height: 4rem;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  min-width: 12rem;
  margin-top: 2rem;
  font-family: inherit;
  @include transition(all);
  &:active {
    background-color: $red;
    box-shadow: $black 2px 2px 0 0;
    transform: translate(2px, 2px);
  }
  &:hover {
    background-color: $red;
    box-shadow: $black 2px 2px 0 0;
    font-size: 110%;
  }
}

@mixin transition($properties...) {
  transition: $properties $transition-duration ease;
}
