@import 'variables';

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.generate {
  @include button;
}

.score {
  @include flex-center;
  gap: 2rem;
  margin: 2rem;
  font-size: 1.5rem;
  @include transition(all);
  span {
    @include flex-center;
    gap: 0.5rem;
    flex-direction: column;
  }
}

.board {
  display: grid;
  grid-template-columns: repeat(10, $cell-size);
  grid-template-rows: repeat(10, $cell-size);
  position: relative;
  touch-action: none;
}

.row {
  display: contents;
}

.cell {
  width: $cell-size;
  height: $cell-size;
  @include flex-center;
  border: 1px dashed $pink-5;
  font-size: 20px;
  cursor: pointer;
  background-color: $white;
  @include transition(all);
  @media screen and (min-width: 600px) {
    &:hover {
      background-color: $yellow;
      & img {
        transform: scale(1.1);
        animation: shake 2s ease-in-out infinite;
      }
    }
  }
  &.selected {
    background-color: $green;
    border: 2px dashed $yellow;
    background-size: 100%;
    & img {
      transform: scale(1.1);
      animation: shake 2s ease-in-out infinite;
    }
  }
  &.match {
    background-color: $pink-5;
    border: 2px dashed $red;
    animation: sparkle 0.5s infinite;
    & img {
      transform: scale(1.1);
      animation: shake 2s ease-in-out infinite;
    }
  }
  &.disappear {
    animation: disappear $transition-duration forwards;
  }
  &.swap {
    z-index: 1;
  }
}

.matchIndicator {
  position: absolute;
  font-size: 16px;
  color: $white;
  background-color: $bg;
  padding: 5px;
  border-radius: 5px;
  animation: fade-out $transition-duration forwards;
}

@keyframes disappear {
  to {
    opacity: 0;
    transform: scale(0);
  }
}

@keyframes fade-out {
  to {
    opacity: 0;
  }
}

@keyframes sparkle {
  0% {
    transform: scale(1);
    opacity: 0.8;
    box-shadow: 0 0 0.5rem $red, 0 0 1rem $yellow, 0 0 0.5rem $blue;
  }
  50% {
    transform: scale(1.1);
    opacity: 1;
    box-shadow: 0 0 1rem $green, 0 0 0.5rem $red, 0 0 1rem $yellow;
  }
  100% {
    transform: scale(1);
    opacity: 0.8;
    box-shadow: 0 0 0.5rem $red, 0 0 1rem $yellow, 0 0 0.5rem $blue;
  }
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -1px) rotate(-1deg);
  }
  20% {
    transform: translate(-1px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 1px) rotate(-1deg);
  }
  60% {
    transform: translate(-1px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(1px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -1px) rotate(-1deg);
  }
}
