@import 'variables';

.modal {
  padding: 20px;
  background-color: $pink-5;
  border: 1px solid $pink-1;
  max-width: 90vw;
  h2 {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
}

.levelGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 1rem;
}

.levelItem {
  border: 1px solid #ccc;
  padding: 1rem;
  text-align: center;
  @include flex-center;
  flex-direction: column;
  width: 6rem;
  height: 6rem;
}

.levelNumber {
  font-size: 2rem;
}

.stars {
  color: $black;
  @include flex-center;
  gap: 0.25rem;
  margin-top: 0.25rem;
}

.locked {
  color: $red;
  background: $pink-3;
}

.played {
  background-color: $green;
  cursor: pointer;
}

.unlocked {
  background-color: $blue;
  cursor: pointer;
}
