@import 'variables';

.main {
  @include flex-center;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2rem;
  padding: 6rem 4rem;
  max-width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  user-select: none;
  h1,
  p {
    text-align: center;
  }
  p {
    max-width: 500px;
    line-height: 2;
    a {
      margin-left: 1rem;
      text-decoration: underline;
    }
  }
  section {
    @include flex-center;
    flex-direction: row;
    gap: 1rem;
  }
  label {
    @include flex-center;
    margin-top: 1rem;
    gap: 1rem;
  }
  .newGame {
    @include button;
    &:hover,
    &:active {
      background-color: $green;
    }
  }
}
