@import 'variables';

.main {
  @include flex-center;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2rem;
  padding: 6rem 4rem;
  max-width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  user-select: none;
  h1,
  p {
    text-align: center;
  }
  p {
    max-width: 386px;
    line-height: 2;
  }
  section {
    @include flex-center;
    flex-direction: row;
    gap: 1rem;
    img {
      border-radius: 15px;
    }
  }
}
