@mixin flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  @include flex-center;
  gap: 2rem;
  padding: 4rem;
  max-width: 100vw;
  height: 100vh;
  overflow: scroll;
  user-select: none;
  h1,
  p {
    text-align: center;
  }
  p {
    max-width: 386px;
    line-height: 2;
  }
  section {
    @include flex-center;
    gap: 1rem;
    img {
      border-radius: 15px;
    }
  }
}
